/* CDN Fonts */
@import url('https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.min.css');

/* CSS Variables */
:root {
  --font-ko-main: 'MaruBuri', sans-serif;
  --font-ko-sub: 'Pretendard', sans-serif;
}