/* CDN Fonts */
@import url('https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.min.css');
@import url('https://fonts.cdnfonts.com/css/bruno-ace-2');

/* CSS Variables */
:root {
  --font-ko-main: 'MaruBuri', sans-serif;
  --font-ko-sub: 'Pretendard', sans-serif;
  --font-en-main: 'Bruno Ace', sans-serif;
  --color-primary: #f7f0e5;
  --color-secondary: #605347;
}